@import 'sidenotes.css';

article {
  counter-reset: sidenote conjecture definition theorem lemma proposition example corollary section !important;
}

article h2 { counter-increment: section; }
article h3 { counter-increment: subsection; }
article h4 { counter-increment: subsubsection; }

article h2:before {
  counter-reset: subsection;
  content: counter(section);
  padding-right: 1ch;
  color: #aaa;
}

article h3:before {
  counter-reset: subsubsection;
  content: counter(section) '.' counter(subsection);
  padding-right: 1ch;
  color: #aaa;
}

article h4:before {
  content: counter(section) '.' counter(subsection) '.' counter(subsubsection);
  padding-right: 1ch;
  color: #aaa;
}

article > div:not(.proof):before {
  font-weight: 600;
  letter-spacing: .1rem;
  font-feature-settings: "smcp" 1, "c2sc" 1;
  font-style: all-small-caps;
}

article > div:not(.proof):not(#toc):not(.figure) {
  padding: 1rem;
  background-color: #eee;
  margin-block: 2rem;
}

.definition:before {
  counter-increment: definition;
  content: "Definition " counter(definition) ".";
}

.theorem:before {
  counter-increment: theorem;
  content: "Theorem " counter(theorem) ".";
}

.lemma:before {
  counter-increment: lemma;
  content: "Lemma " counter(lemma) ".";
}

.example:before {
  counter-increment: example;
  content: "Example " counter(example) ".";
}

.proposition:before {
  counter-increment: proposition;
  content: "Proposition " counter(proposition) ".";
}

.corollary:before {
  counter-increment: corollary;
  content: "Corollary " counter(corollary) ".";
}

.proof {
  display: table;
  table-layout: fixed;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .proof {
    width: calc(var(--content-proportion) * 100%);
  }
}

.conjecture p:first-child,
.corollary p:first-child,
.theorem p:first-child,
.definition p:first-child,
.proof p:first-child,
.lemma p:first-child,
.proposition p:first-child,
.example p:first-child
{
  display: inline;
}

.conjecture,
.corollary,
.theorem,
.definition,
.proof,
.lemma,
.proposition,
.example {
  margin-block: 1rem;
}

.conjecture:before {
  counter-increment: conjecture;
  content: "Conjecture " counter(conjecture) ".";
}

.proof:before {
  content: "Proof. ";
  font-style: italic;
}

.proof:after {
 	content: "\25FB";
  float: right;
}

.proof > p:last-child:not(:nth-child(2)) {
  display: inline;
}

.proof > p:last-child:nth-child(2) {
  display: inline-block;
  margin-block-end: 0;
}

.proof > p:last-child > span:last-child .katex-display {
  margin: 1em 0 calc(-1.6em * 1.1);
}
