@charset "UTF-8";
/*
$line-width: 600px;
$gutter-width: 60px;
$sidebar-width: 280px;
$body-margin: 32px;
*/
article {
  counter-reset: sidenote; }

.sidenote, .marginnote {
  font-size: 0.83rem;
  font-weight: initial;
  font-style: initial;
  line-height: initial;
  position: relative;
  display: none; }

input[type="checkbox"].margin-toggle {
  display: none; }

.sidenote-number::before, .sidenote-label::before {
  counter-increment: sidenote;
  content: counter(sidenote); }

#toc .sidenote, #toc .sidenote-number {
  display: none; }

.margin-toggle:checked + .sidenote, .margin-toggle:checked + .marginnote, .note-toggle:checked + .sidenote, .note-toggle:checked + .marginnote {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  margin-block: 0.3rem;
  margin-inline: 1rem; }

.sidenote::before, .marginnote::before {
  position: absolute;
  right: calc(100% + 10px); }

.sidenote::before {
  content: counter(sidenote); }

.marginnote-number:nth-of-type(1)::before, .marginnote:nth-of-type(1)::before {
  content: "*"; }

.marginnote-number:nth-of-type(2)::before, .marginnote:nth-of-type(2)::before {
  content: "†"; }

.marginnote-number:nth-of-type(3)::before, .marginnote:nth-of-type(3)::before {
  content: "‡"; }

.marginnote-number.nonum::before,
.marginnote.nonum::before {
  content: ''; }

.sidenote-number {
  font-feature-settings: "sups";
  font-variant-numeric: proportional-nums; }

.marginnote-number:nth-of-type(2)::before,
.marginnote-number:nth-of-type(3)::before {
  vertical-align: super;
  font-size: smaller;
  line-height: 1; }

.flex {
  display: flex; }

figure:not(.fullwidth) figcaption {
  text-align: center; }

@media (min-width: 82rem) {
  .margin-right, .margin-left {
    display: block; }
  .sidebar-width {
    width: 15rem; }
  .margin-right {
    float: right;
    clear: right;
    margin-right: -19rem; }
  .margin-left {
    margin-left: -19rem;
    float: left;
    clear: left; }
  .margin-right.margin-left {
    float: none;
    clear: both; }
  .sidenote, .margin-toggle:checked + .sidenote, .marginnote, .margin-toggle:checked + .marginnote, .marginfigure, .margin-toggle:checked + .marginfigure {
    display: block;
    float: right;
    clear: right;
    width: 15rem;
    margin-right: -19rem;
    margin-block-start: 0;
    margin-block-end: 0.3rem; } }
