/*
$line-width: 600px;
$gutter-width: 60px;
$sidebar-width: 280px;
$body-margin: 32px;
*/
html {
  font-family: 'Source Serif', serif; }

body {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2ch;
  line-height: 1.6; }

main {
  max-width: 40rem;
  margin: auto; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin-block: 0; }

article h2, article h3, article h4, article h5, article h6 {
  margin-block: 2rem -0.5rem;
  font-style: italic; }

main {
  margin-top: 6rem; }

a, a:visited {
  color: initial;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px; }

body > header {
  overflow: auto; }
  body > header ul {
    margin: 0;
    float: right;
    display: flex;
    grid-gap: 2ch; }

#brand {
  font-weight: bold;
  color: #f23074;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  font-style: italic;
  float: left;
  text-decoration: none; }

ul {
  list-style-type: square; }

nav ul {
  list-style-type: none; }

pre {
  font-size: 16px; }

.highlight {
  position: relative; }

.highlight-title {
  position: absolute;
  right: 0;
  top: 0;
  padding-inline: 1ch;
  background-color: black;
  color: white;
  font-size: small; }

.katex {
  font-size: 110% !important; }

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  padding: 5px;
  border: 1px solid #ccc; }

tr:nth-child(even) {
  background-color: #eee; }

th {
  font-weight: bold;
  text-align: left; }

#toc {
  display: none; }
  #toc nav > ol, #toc nav > ul {
    padding: 0; }
  #toc ol, #toc ul {
    font-weight: bold; }
    #toc ol ol, #toc ol ul, #toc ul ol, #toc ul ul {
      font-weight: initial;
      padding: 0.5ch 3ch;
      font-size: 90%; }
    #toc ol ul, #toc ul ul {
      list-style-type: none; }
    #toc ol ol, #toc ul ol {
      list-style-type: lower-roman; }
  #toc h2 {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0; }

@media (min-width: 82rem) {
  #toc {
    display: block;
    padding-block-end: 2rem;
    padding-right: 4rem;
    background: linear-gradient(to bottom, white, white calc(100% - 2rem), rgba(255, 255, 255, 0));
    width: 15rem;
    font-size: 0.83rem;
    position: sticky;
    top: 2rem; } }

.blog-posts {
  list-style-type: none;
  padding: 0; }

.blog-post {
  margin-block: 2rem; }
  .blog-post time {
    float: right; }

code {
  font-family: 'Source Code Pro';
  font-weight: 400; }

pre {
  white-space: pre-wrap;
  padding: 0.5rem;
  font-size: smaller;
  border: 1px solid black; }

time {
  font-variant: all-small-caps;
  font-variant-numeric: oldstyle-nums; }

#front-matter nav {
  margin-block: 3.2rem; }

#current-section {
  font-variant: all-small-caps;
  letter-spacing: 0.04rem;
  text-align: center; }
  #current-section a {
    display: block;
    text-decoration: none;
    line-height: 1.2;
    margin-bottom: 1rem; }

#next-prev {
  display: flex;
  justify-content: space-between; }

footer {
  text-align: center;
  font-variant: all-small-caps;
  font-size: smaller;
  color: #777; }

figcaption {
  font-size: smaller;
  text-align: center; }
  figcaption p:first-child {
    display: inline; }

figure img {
  width: 100%; }

.flex {
  display: flex;
  grid-gap: 1rem; }

.page-tags {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1ch;
  justify-content: center;
  margin-block: 1.6rem; }
  .page-tags a {
    font-size: smaller;
    font-family: 'Source Code Pro';
    text-decoration: none;
    border: 1px solid black;
    padding-inline: 0.5ch;
    white-space: nowrap; }
    .page-tags a:hover {
      color: white;
      background-color: black; }

article {
  counter-reset: conjecture definition theorem lemma proposition proposition example corollary; }

.conjecture {
  border: 1px solid black;
  padding: 1rem;
  counter-increment: conjecture;
  margin-block: 1rem; }
  .conjecture::before {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    margin-left: -0.07rem;
    content: "Conjecture " counter(conjecture) "."; }
  .conjecture p:first-child {
    display: inline; }
  .conjecture p:last-child,
  .conjecture p:last-child .katex-display {
    margin-bottom: 0; }

.definition {
  border: 1px solid black;
  padding: 1rem;
  counter-increment: definition;
  margin-block: 1rem; }
  .definition::before {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    margin-left: -0.07rem;
    content: "Definition " counter(definition) "."; }
  .definition p:first-child {
    display: inline; }
  .definition p:last-child,
  .definition p:last-child .katex-display {
    margin-bottom: 0; }

.theorem {
  border: 1px solid black;
  padding: 1rem;
  counter-increment: theorem;
  margin-block: 1rem; }
  .theorem::before {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    margin-left: -0.07rem;
    content: "Theorem " counter(theorem) "."; }
  .theorem p:first-child {
    display: inline; }
  .theorem p:last-child,
  .theorem p:last-child .katex-display {
    margin-bottom: 0; }

.lemma {
  border: 1px solid black;
  padding: 1rem;
  counter-increment: lemma;
  margin-block: 1rem; }
  .lemma::before {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    margin-left: -0.07rem;
    content: "Lemma " counter(lemma) "."; }
  .lemma p:first-child {
    display: inline; }
  .lemma p:last-child,
  .lemma p:last-child .katex-display {
    margin-bottom: 0; }

.proposition {
  border: 1px solid black;
  padding: 1rem;
  counter-increment: proposition;
  margin-block: 1rem; }
  .proposition::before {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    margin-left: -0.07rem;
    content: "Proposition " counter(proposition) "."; }
  .proposition p:first-child {
    display: inline; }
  .proposition p:last-child,
  .proposition p:last-child .katex-display {
    margin-bottom: 0; }

.proposition {
  border: 1px solid black;
  padding: 1rem;
  counter-increment: proposition;
  margin-block: 1rem; }
  .proposition::before {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    margin-left: -0.07rem;
    content: "Proposition " counter(proposition) "."; }
  .proposition p:first-child {
    display: inline; }
  .proposition p:last-child,
  .proposition p:last-child .katex-display {
    margin-bottom: 0; }

.example {
  border: 1px solid black;
  padding: 1rem;
  counter-increment: example;
  margin-block: 1rem; }
  .example::before {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    margin-left: -0.07rem;
    content: "Example " counter(example) "."; }
  .example p:first-child {
    display: inline; }
  .example p:last-child,
  .example p:last-child .katex-display {
    margin-bottom: 0; }

.corollary {
  border: 1px solid black;
  padding: 1rem;
  counter-increment: corollary;
  margin-block: 1rem; }
  .corollary::before {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    margin-left: -0.07rem;
    content: "Corollary " counter(corollary) "."; }
  .corollary p:first-child {
    display: inline; }
  .corollary p:last-child,
  .corollary p:last-child .katex-display {
    margin-bottom: 0; }

.proof {
  display: table;
  margin-block: 1rem;
  table-layout: fixed;
  width: 100%; }
  .proof::before {
    content: "Proof. ";
    font-style: italic; }
  .proof::after {
    content: "\25FB";
    float: right; }
  .proof > p:first-child {
    display: inline; }
  .proof > p:last-child:not(:nth-child(2)) {
    display: inline; }
  .proof > p:last-child:nth-child(2) {
    display: inline-block;
    margin-block-end: 0; }
