{{ define "main" }}
    <style type="text/css">
      body > header {
          display: none;
      }

      ul {
          list-style: none;
          padding: 0;
      }

      hr {
          width: 20%;
          border-style: solid;
          border-width: 1px 0 0 0;
          margin-block: 2rem;
      }

    </style>

    <p>
    <strong>S. Verona Li&scaron;kov&aacute;</strong> is a hacker and recreational mathematician. They live in Grand Rapids with their husband Mark and non-human life partner Penrose.
    </p>
    <p>They most enjoy working in <strong>Rust</strong> and <strong>Python</strong>.</p>

    <hr />

    {{ range .Pages }}
    {{ if .IsPage }}
    <div class="blog">
      <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
      &mdash;
      <time>{{ .Date.Format "January 2, 2006" }}</time>
    </div>
    {{ end }}
    {{ end }}

    {{ range .Pages.ByTitle }}
    {{ if .IsSection }}
    <section>
      <h2>{{ .Title }}</h2>
      <ul>
      {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
        &mdash;
        <time>{{ .Date.Format "January 2, 2006" }}</time>
      </li>
      {{ end }}
      </ul>
    </section>
    {{ end }}
    {{ end }}
<footer>
  <div class="flag" style="display: grid; grid-template-columns: repeat(4, 50px); height: 3px; margin-top: 2rem; justify-content: center">
    {{ "<!-- I'm in your area. -->" | safeHTML }}
    <div style="background-color: #f09"></div>
    <div style="background-color: #f93"></div>
    <div style="background-color: #9c3"></div>
    <div style="background-color: #639"></div>
  </div>
</footer>
{{ end }}
